- name: Create docker group
  group:
    name: docker
    state: present

- name: Create user {{ username }}
  user:
    name: "{{ username }}"
    groups:
      - sudo
      - docker
    system: true
    createhome: true
    home: "/home/{{ username }}"
