---
- name: Setup docker
  import_role:
    name: common_roles/docker

- name: Mkdir docker_env_files
  file:
    state: directory
    path: "/home/{{ username }}/docker_env_files"
    mode: 0755

- name: Docker env file
  copy:
    dest: "/home/{{ username }}/docker_env_files/nextcloud.env"
    content: |
      NEXTCLOUD_ADMIN_USER={{ nextcloud_username }}
      NEXTCLOUD_ADMIN_PASSWORD={{ nextcloud_password }}
      NEXTCLOUD_TRUSTED_DOMAINS=localhost {{ service.cloud.subdomain }}.{{ domain }}
      NEXTCLOUD_TRUSTED_PROXIES={{ ip | default('') }}
      NEXTCLOUD_OVERWRITEHOST={{ service.cloud.subdomain }}.{{ domain }}
      NEXTCLOUD_OVERWRITEPROTOCOL={{ ports.https }}
      NEXTCLOUD_OVERWRITECLIURL={{ ports.https }}://{{ service.cloud.subdomain }}.{{ domain }}
      SQLITE_DATABASE=nextcloud_db
    mode: 0644
