- name: Monthly updates
  cron:
    name: update gitea
    state: present
    special_time: monthly
    job: >
      /usr/bin/docker stop {{ container }};
      /usr/bin/docker rm {{ container }};
      /usr/bin/docker pull {{ image }};
      /usr/bin/docker run -d
      --restart unless-stopped
      --name {{ container }}
      --env-file /home/{{ username }}/docker_env_files/{{ service.gitea.subdomain }}.env
      -v {{ data_dir }}/:/data/
      -v /etc/timezone:/etc/timezone:ro
      -v /etc/localtime:/etc/localtime:ro
      -v /home/git/.ssh/:/data/git/.ssh
      -p {{ service.gitea.port }}:3000
      -p 2222:22
      {{ image }}

- name: Backup
  block:
    - name: Mkdir backup_dir
      file:
        state: directory
        path: "{{ backup_dir }}"
        mode: 0755

    - name: Weekly backups
      cron:
        name: "backup gitea"
        state: "present"
        special_time: "weekly"
        job: >
          sudo /bin/cp -urp {{ data_dir }}/* {{ backup_dir }}
