- name: Custom network
  docker_network:
    name: "{{ network }}"
    state: present

- name: Run umami database
  docker_container:
    name: db
    image: postgres:15-alpine
    env_file: "/home/{{ username }}/docker_env_files/umami.env"
    volumes:
      - "/{{ service.umami.subdomain }}-data:/var/lib/postgresql/data"
    restart_policy: unless-stopped
    networks:
      - name: "{{ network }}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

- name: Run umami
  docker_container:
    name: "{{ container }}"
    image: "{{ image }}"
    ports:
      - "{{ service.umami.port }}:3000"
    env_file: "/home/{{ username }}/docker_env_files/{{ service.umami.subdomain }}.env"
    restart_policy: unless-stopped
    networks:
      - name: "{{ network }}"
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:3000/api/heartbeat"]
      interval: 5s
      timeout: 5s
      retries: 5
